@import '../../../style/shared/variables';

.hiredOverlay{
    height: 40px;
    width: 150px;
    padding: 0px 10px;
    position: absolute;
    background: rgb(251, 79, 56);
    color: white;
    z-index: 200;
    border-radius: 5px;
    font-size: .85em;
    transform: rotate(-30deg) translateX(-40px) translateY(-20px);
    p{
        margin: 10px 0;
        font-weight: bold;
    }
}

.developer,
.hiredDeveloper {
    position: relative;
    color: $primeBlue;

    .frame {
        width: 25vh;
        height: 205px;
        display: block;
        img {
            width: 100%;
            height: 90%;
            opacity: 0.85;
            border-top: 4px solid $primeBlue;
            border-bottom: 2px solid $primeBlue;
        }
    }
    h3 {
        text-align: center;
    }
    .info {
        p {
            font-weight: 600;
            margin: 0 0 5px 20px;
            font-size: 0.9em;
            span {
                color: $primeOrange;
                text-transform: capitalize;
            }
        }
    }
    .deleteBtn {
        position: absolute;
        right: 0;
        border-radius: 50%;
        border: none;
        margin: 10px 10px 0 0;
        background: white;
        svg {
            transition: 0.2s;
            opacity: 0.3;
            &:hover {
                opacity: 1;
            }
        }
    }
    .editBtn {
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 1em;
        text-transform: uppercase;
        border: none;
        background: $primeBlue;
        color: white;
        border-radius: 0 0 18px 18px;
        cursor: pointer;
        transition: 0.1s;
        &:hover {
            opacity: 0.9;
        }
        &:active {
            opacity: 1;
        }
    }
    .socialMedia {
        position: absolute;
        right: 20px;
        display: flex;
        flex-direction: column;
        bottom: 14.5%;
        svg {
            cursor: pointer;
            opacity: 0.8;
            &:hover {
                opacity: 1;
            }
            &:active {
                opacity: 0.9;
            }
            &:nth-child(2) {
                margin: 5px 0 5px 2px;
            }
        }
    }
}
.hiredDeveloper{
    opacity: .5;
}