@import '../../../style/shared/variables';

.wrap {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 450px;
    color: $primeBlue;
}

.buttons {
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin: 0 auto;
    button {
        padding: 1em 3em;
        border: none;
        border-radius: 18px;
        transition: 0.15s ease-in-out;
        &:nth-child(1) {
            background: $primeWarn;
            color: white;

            &:hover {
                opacity: 0.8;
            }
            &:active {
                opacity: 1;
            }
        }
        &:nth-child(2) {
            background: rgb(255, 255, 255);
            border: 1px solid $primeBlue;
            color: $primeBlue;
            &:hover {
                background: $primeBlue;
                color: white;
            }
            &:active {
                opacity: 0.7;
            }
        }
    }
}
.profilePic {
    height: 180px;
    width: 200px;
    border-radius: 20px;
    border: 2px solid $primeWarn;
}
.heading {
    margin: 0;
    font-size: 1.5em;
    color: $primeWarn;
}

.dev {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 45%;
    padding: 2em;
    border-bottom: 1px solid rgba(19, 23, 87, 0.116);
    border-top: 1px solid rgba(19, 23, 87, 0.116);
    p {
        span {
            font-weight: bold;
            margin-left: 5px;
            text-transform: capitalize;
        }
        &:nth-child(2) {
            span {
                text-transform: lowercase;
            }
        }
    }
}
