@import '../../../style/shared/variables';

.form {
    margin: 0 auto;
    padding: 2em;
    display: flex;
    flex-wrap: wrap;
    width: 578px;
    transition: .2s ease-in-out;
    .input,
    select,
    .description {
        width: 230px;
        padding: 0.8em;
        margin-right: 33px;
        border-radius: 6px;
        border: 1px solid rgba(128, 128, 128, 0.39);
        outline: none;
    }

    select {
        width: 255px;
    }
    .description {
        width: 520px;
        height: 100px;
    }
}
label {
    display: block;
    color: $primeBlue;
    margin: 10px 0 5px;
}
h1 {
    text-align: center;
}

.submitBtn {
    margin: 3em 0em 1em 20%;
    width: 60%;
    padding: 1em 1em;
    color: white;
    background: $primeBlue;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    &:hover {
        opacity: 0.85;
    }
    &:active {
        opacity: 1;
    }
    transition: .2s ease-in-out;
}
.datePicker,
.hireDevWrap {
    display: flex;
    justify-content: space-around;
}
.datePicker {
    width: 50%;
    margin-left: 25%;
    margin-bottom: 3%;
    input{
        color: $primeBlue;
        border: 1px solid #bbbbbb;
        padding: .5em 5em;
    }
}
.hireDevForm {
    margin: 0 auto;
    transition: .2s ease-in-out;
    .submitBtn {
        width: 40%;
        margin: 0 30% 2% 30%;
    }
    .checkbox{
        cursor: pointer;
        height: 25px;
        width: 25px;
    }
}
table {
    border-collapse: collapse;
    margin: 0 auto;
    width: 90%;
    margin: 2em auto;
}

td,
th {
    border: 1px solid #bbbbbb;
    padding: 8px;
    text-align: center;
}
th{
    color: $primeOrange;
}
td{
    color: $primeBlue;
    font-weight: bold;
    text-transform: capitalize;
    &:nth-child(2){
        text-transform: lowercase;
    }
}